<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
	<appender name="console"
		class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %c{1} - %m%n" />
		</layout>
	</appender>
	<!-- Logger for LUNA, Reflections, etc. -->
	<logger name="edu.stanford.nlp.ie.NumberNormalizer" additivity="false">
		<level value="error" />
		<appender-ref ref="console" />
	</logger>
	<logger name="org.apache" additivity="false">
		<level value="warn" />
		<appender-ref ref="console" />
	</logger>
	<logger name="org.apache.jena.riot" additivity="false">
		<level value="error" />
		<appender-ref ref="console" />
	</logger>
	<logger name="org.reflections.Reflections" additivity="false">
		<level value="warn" />
		<appender-ref ref="console" />
	</logger>
	<logger name="com.tngtech.archunit" additivity="false">
		<level value="info" />
		<appender-ref ref="console" />
	</logger>
	<root>
		<priority value="debug" />
		<appender-ref ref="console" />
	</root>
</log4j:configuration>